/*******************************************************************************************
 * CSS STYLESHEET FOR /R/ADHD
 */

    /************* STICKY COLOR Combinations *************
 * To change the announcement simply edit the h3 (###) item at the top of the sidebar
 * (under /r/adhd moderations tools > community settings.)
 * To change color, edit (comment and uncomment) the color and background-color attributes below.
 * (note: there are three different colors for the sticky, the link color, the text color, and the background color).
 */

.side h3:nth-of-type(1) a {
    /************* STICKY LINK COLOR *************/
color: #ff9999; /* -- salmon */
/* color: #aa88ff; /* -- lavender */
/* color: #00dddd; /* -- aqua */
/* color: #77ee77; /*-- apple green */
/* color: #ffee00; /*-- yellow */
/* color: #ff8448; /* orange */
}

.side h3:nth-of-type(1) {
    /************* STICKY BACKGROUND COLOR *************/
/* background-color: #880022; /* -- merlot (Sticky Background Color #1) */
/* background-color: #333333; /* -- charcoal (Sticky Background Color #2) */
background-color: #5d005d; /* -- eggplant (Sticky Background Color #3) */
/* background-color: #000777; /* -- indigo (Sticky Background Color #4) */
/* background-color: #005c5c; /* -- dark teal (Sticky Background Color #5) */
/* background-color: #005500; /* forest green (Sticky Background Color #6) */

    /************* STICKY TEXT COLOR *************/
/* color: #ffffee; /* -- palest yellow */
/* color: #ddffdd; /* -- palest green */
/* color: #cceeff; /* -- palest blue */
color: #eeeeee; /* -- bone (off-white) */
/* color: #009900; /* --darker green */

    /*this code positions the sticky*/

    position:absolute;
    top:50px;
    left:0px;

    /*this code styles the sticky */

    text-align: left;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 15px;
    border-style: groove;
    border-color: #808080;
    border-width: 0px;
    width: 63%;
    padding-top:1px;
    padding-left:40px;

    /*this code creates the image*/
    background-image: url(%%announceicon%%);
    background-repeat: no-repeat;
    background-position:left;
}

div.content {
    /*This lowers the links to create space*/
    margin-top:50px;
}

.titlebox form {
    /*Hack to enable repositioning of child elements*/
    position: static;
}

/*******************************************************************************************
 * Styling from /r/ADD by computerpsych
 * @author ohdeno.  @date 18th Jan 2012
 */

/*******************************************************************************************
 * Makes our chat link an image with hover effect
 */

a[href="http://webchat.freenode.net/?channels=/r/ADHD"]:after {
    content: "";
    width: 156px;
    height: 29px;
    background-image: url(%%chat%%);
    display: inline-block;
    position: relative;
}
a[href="http://webchat.freenode.net/?channels=/r/ADHD"]:hover:after {
    background-position: -0px -29px;
}

/*******************************************************************************************
 * Styling for reply links on posts.
 */

a.comments {
  font-size: 14px !important;
  color: #666666 !important;
}
a.comments.empty {
  font-size: 16px !important;
}
a.title {
    font-size: 17px !important;    
}

/*******************************************************************************************
 * Position UpsAlien, so it fits inside the bound box
 * @author ohdeno.  @date 18th Jan 2012
 */

#header-img-a {
 display: inline-block;
 min-width: 140px; /* 126 px */
 min-height: 42px;
}

#header-img-a > #header-img {
 margin-top: 3px;
 position: absolute;
}

.content {
 margin-top: 20px;
}

/*******************************************************************************************
 * This is not Youtube, so let’s keep video expanders grey.
 * @author ohdeno.  @date 26th Dec 2011
 */

.expando-button.collapsed.video {
 background: url(%%grey-video-collapsed-bold-pixelplus%%) top left no-repeat;
}

/*******************************************************************************************
 * Display mod-title flair.   @author schmin.  @date 11th Mar 2013
 */

.author[href$="/user/someonefarted"]:after{content:"the most magnificent Mod!";padding:0 .5em;color:#000;font-weight:bolder}
.author[href$="/user/SukaPahpah"]:after{content:"Pokie Pie";padding:0 .5em;color:#000;font-weight:bolder}
.author[href$="/user/Tylzen"]:after{content:"the Wondering Viking!";padding:0 .5em;color:#000;font-weight:bolder}


/*******************************************************************************************
 * Display colored flair. Made for contributing members.   @author computerpsych.  @date 18th Mar 2012
 */

.flair, .linkflair .linkflairlabel {
 color:#000;
 padding:1px 2px
}


.flair-TEAL{
 background:#20B2AA !important; color:black !important;
}

/*******************************************************************************************
 * Display less bright colored flair. Made for contributing members.
 * @author computerpsych.  @date 2nd Apr2012
 */

.flair-LBLUE{
 background:#BAD0EF !important; color:black !important;
}
.flair-YELLOW{
 background:#fff79a !important; color:black !important;
}
.flair-ORANGE{
 background:#FFEBD9 !important; color:black !important;
}
.flair-PURPLE{
 background:#C6C6FF !important; color:black !important;
}
.flair-SEAGREEN{
 background:#A5D3CA !important; color:black !important;
}
.flair-PINK{
 background:#FFA8FF !important; color:black !important;
}
.flair-RED{
 background:#FFB5B5 !important; color:black !important;
}

/*******************************************************************************************
 * Attempt to style posts about medication or Adderall differently. Initially just by a sprite of a red & white capsule at beginning or end.
 * @author computerpsych.  @date 4th Apr2012
 * Cleaned up duplicates and reorganized by topic then alphabetical.  @author schmin.  @date 10th Jun 2012
 */

a.title[href*="addera"]:before,a.title[href*="addy"]:before,a.title[href*="aderall"]:before,a.title[href*="concerta"]:before,a.title[href*="focalin"]:before,a.title[href*="riltlin"]:before,a.title[href*="ritalin"]:before,a.title[href*="ritz"]:before,a.title[href*="vyvanse"]:before,a.title[href*="vyvance"]:before,a.title[href*="amphetamine"]:before,a.title[href*="dexidrine"]:before,a.title[href*="dexedrine"]:before,a.title[href*="methylp"]:before,a.title[href*="stimulant"]:before,a.title[href*="medicine"]:before,a.title[href*="medica"]:before,a.title[href*="meds"]:before,a.title[href*="brand_name"]:before,a.title[href*="generic"]:before,a.title[href*="phamarc"]:before,a.title[href*="prescription"]:before,a.title[href*="script"]:before,a.title[href*="pills"]:before,a.title[href*="anti_depr"]:before,a.title[href*="wellbutrin"]:before{     
  background-image:  url(%%pill%%);
  width: 18px;
  height: 18px;
  content: "";     
  display: inline-block;     
  background-repeat: no-repeat;
  background-position: 1px 2px;     
}

/*******************************************************************************************
 * Add a light GREY background for alternating posts to give a bit of a visual break that is not distracting
 * @author computerpsych.  @date 19th Apr2012
 */

.link.even, .linkcompressed.even {
    /*background-color: #CEE3F8; /* Palest blue */
    background-color: #EFEFEF; /* Palest grey--any darker reads greenish, so it needs an intentional blue tone. */
    padding: 5px 10px 5px 10px !important;
    -webkit-border-bottom-right-radius: 7px !important;
    -webkit-border-bottom-left-radius: 7px !important;
    -webkit-border-top-right-radius: 7px !important;
    -webkit-border-top-left-radius: 7px !important;
    -moz-border-radius-bottomright: 7px !important;
    -moz-border-radius-bottomleft: 7px !important;
    -moz-border-radius-topright: 7px !important;
    -moz-border-radius-topleft: 7px !important
}

.link.odd, .linkcompressed.odd, .link.even + .link.odd {
    background-color: #FFFFFF; /* white */
    padding: 5px 10px 5px 10px !important;
    -webkit-border-bottom-right-radius: 7px !important;
    -webkit-border-bottom-left-radius: 7px !important;
    -webkit-border-top-right-radius: 7px !important;
    -webkit-border-top-left-radius: 7px !important;
    -moz-border-radius-bottomright: 7px !important;
    -moz-border-radius-bottomleft: 7px !important;
    -moz-border-radius-topright: 7px !important;
    -moz-border-radius-topleft: 7px !important
}

/******************************************************************************************
 * Adding some text to the submission page
 * @author computerpsych.  @date 24th Apr2012
 */

/* Adds bolded text in the yellow box on the text-submission page */
#text-desc:after {
    display: block;
    border: 1px solid red;
    background: #ffcccc;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;

    font-weight: bold;

    content: "Please search /r/adhd or use google for 'site:reddit.com/r/adhd [search terms]'. Please include previous research you have found regarding your question. /r/ADHD is not your personal research assistant. 'Here are my symptoms, do I have ADHD' posts will be deleted. See a doctor!"
}

#text-field .title:before {
    content: ""
}

#title-field .title:after {
    font-size: 80%;
    font-style: italic;
    content: ": Please use a DESCRIPTIVE title and include your question for self-posts."
}

#text-field .title:after {
    font-size: 80%;
    font-style: italic;
    content: ": Avoid a wall of text by spacing your paragraphs and including proper formatting (bullets and bold especially helps!). If your post is more than 2 paragraphs we suggest a TL;DR (Too Long; Didn't Read) summary. "
}

/* Placeholder for custom text on the link submission page in the yellow box */
#link-desc:after {
    display: block;
    border: 1px solid red;
    background: #ffcccc;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;

    font-weight: bold;

    content: "If you are posting a picture or meme, consider taking it to /r/ADHDmeme, or include a comment which shares your experience or asks a question to stimulate a discussion."
}

/*******************************************************************************************
 * Link flair styling
 * @author computerpsych.  @date 5th May 2012
 */

.flair-tip, .linkflair-tip .linkflairlabel, .linkflair.linkflair-tip> .linkflairlabel {
    background: #99FFCC !important;
    border-color: #4AF29C !important
    }
.flair-school, .linkflair-school .linkflairlabel, .linkflair.linkflair-school > .linkflairlabel {
    background: #ada !important;
    border-color: #6E996E !important
    }
.flair-yellow, .linkflair-yellow .linkflairlabel, .linkflair.linkflair-yellow > .linkflairlabel {
    background: #ff9 !important;
    border-color: #dd7 !important
    }
.flair-red, .linkflair-red .linkflairlabel, .linkflair.linkflair-red > .linkflairlabel {
    background: #f99 !important;
    border-color: #eef !important
    }
.flair-purple, .linkflair-purple .linkflairlabel, .linkflair.linkflair-purple > .linkflairlabel {
    background: #c9f !important;
    border-color: #9fe !important
    }
.flair-pink, .linkflair-pink .linkflairlabel, .linkflair.linkflair-pink > .linkflairlabel {
    background: #f9c !important;
    border-color: #e49 !important
    }

/*******************************************************************************************
 * Sidebar styling
 * @author computerpsych.  @date 18th June 2012
 */

.side .titlebox {
    background-color: #ffffff; /*white*/
    border: 4px solid gray;
    
    /********* Sidebar Border CONSTANT COLOR (or same as sticky background) */
    border-color: #333333; /* -- Charcoal */
    padding: 3px 3px 4px 4px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 2px;
    overflow: visible
}

/*******************************************************************************************
 *replace "readers" with rADHDitors.
 * @author computerpsych.
 * @date 19th April2012
 */

.side .titlebox span.word {
    display: none
}

.side .titlebox span.number:after {
    content: " reADHDitors"
}

/*******************************************************************************************
 * Sidebar content styling
 */

.side .md h1 {
    /********* Sidebar Headers: CONSTANT COLOR (or same as sticky background) */
    color: #333333; /* -- Charcoal */
    margin-top: 8px
}

.side .md hr {
color: #CEE3F8; /* Palest blue */
    /********* Sidebar Dividers: CONSTANT COLOR (or same as sticky background) */
    background-color: #333333; /* -- Charcoal */
    height: 4px;
}

.side .md > ul > li em {
    color: #333333; /* charcoal */
    font-size: 95%;
    display: block;
    margin-left: 20px;
}

.side .md a:hover {
    text-decoration: underline;
}

/*******************************************************************************************
 * HOVER MENUS, by sugardeath, 29.June.2012
 * Weekly Thread (Unordered List 1), Posting rules (Ordered List 1), Community Guidelines (Unordered List 2, Related Subreddits (Unordered List 3)
 */

/* turns the lists into menus */
.side .md > ul:nth-of-type(1),
.side .md > ul:nth-of-type(2),
.side .md > ul:nth-of-type(3) {
    margin-left: 0;
    list-style-type: none;
}

/* the ordered list (Posting rules) should still be a list. */
.side .md > ol:nth-of-type(1) {
    margin-left: 0;
}

/* hide and style lists */
.side .md > ul:nth-of-type(1) > li,
.side .md > ol:nth-of-type(1) > li,
.side .md > ul:nth-of-type(2) > li,
.side .md > ul:nth-of-type(3) > li {
    display: none;
    margin-left: 20px;
    margin-bottom: 5px;
}

/* makes whole list item selectable */
.side .md > ul:nth-of-type(1) li a,
.side .md > ol:nth-of-type(1) li a,
.side .md > ul:nth-of-type(2) li a,
.side .md > ul:nth-of-type(3) li a {
}

/* shows menu items on hover */
.side .md > ul:nth-of-type(1):hover > li,
.side .md > ul:nth-of-type(2):hover > li,
.side .md > ul:nth-of-type(3):hover > li {
    display: block;
}

/* The ordered list (Posting rules) should still be a list. */
.side .md > ol:nth-of-type(1):hover > li {
    display: list-item;
}

/*
 *   Format header items
 */

/* turns top list item into section header */
.side .md > ul:nth-of-type(1) > li:first-child,
.side .md > ol:nth-of-type(1) > li:first-child,
.side .md > ul:nth-of-type(2) > li:first-child,
.side .md > ul:nth-of-type(3) > li:first-child {
    display: block;

    font-size: 16px;
    font-weight: bold;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 5px;

    /************* Sidebar Hover Menus: CONSTANT COLOR (or same as sticky link) *************/
    color: #0066FF; /* french blue */
}

/* Make sure that top items that contain a p element do not break "(hover)" text onto new line. */
.side .md > ul:nth-of-type(1) > li:first-child > p,
.side .md > ol:nth-of-type(1) > li:first-child > p,
.side .md > ul:nth-of-type(2) > li:first-child > p,
.side .md > ul:nth-of-type(3) > li:first-child > p {
    display: inline-block;
}

/* Insert and style "(hover)" text. */
.side .md > ul:nth-of-type(1) > li:first-child:after,
.side .md > ol:nth-of-type(1) > li:first-child:after,
.side .md > ul:nth-of-type(2) > li:first-child:after,
.side .md > ul:nth-of-type(3) > li:first-child:after {
    content: " (hover)";
    display: inline;
    font-size: 95%;
    font-style: italic;
    font-weight: normal;

    /************* Sidebar Hover Menus: CONSTANT COLOR (or same as sticky link) *************/
    color: #0066BB;
}

/*******************************************************************************************
 * Styling for the "community age" at the bottom of the sidebar
 */

.titlebox .bottom {
    font-size: 0px;
    color: #FFF;
}

.titlebox .bottom:before {
    font-size: 10px;
    color: gray;
    content: " ";
}

.titlebox .bottom .age {
    font-size: 10px;
    color: gray;
}

/*******************************************************************************************
 * Hide user flairs in moderator box in the sidebar, and display moderators next to each other.
 * @author somebear.  @date 24th Feb 2013
 */

.side > .spacer > .sidecontentbox > .helplink + .title + ul .flair {
 display: none;
}

/*******************************************************************************************
 * Misc.
 */

.md ul {
    list-style-type: circle;
}

/* Experimenting with some font styling. Headers. */

.md h4 {
font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
font-size: 16px;
color: #CC0000;
margin-top: 5px;
margin-bottom: 5px
}

.md h4 a {
    color: #000000;
}

.md h4 a:hover {
    text-decoration: underline;
}

.md h5 {
font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
font-size: 16px;
color: #005fce;
margin-top: 5px;
margin-bottom: 5px
}

.md h6 {
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-size: 16px;
color: #347c2c;
margin-top: 5px;
margin-bottom: 5px
}

/* Experimenting with experimental stuff. Changing font of reply link in comments and increase size/visibility of usernames */

.entry .buttons a[onclick*="reply"]{
color:#88AADD !important; 
font-size:12px !important}

/* Trying to make the expert AMA stand out with a star icon. We can also experiment ways to make the weekly threads stand out more */

a.title[href*="expert_ama"]:before{
background-image:  url(%%star%%);
  width: 21px;
  height: 21px;
  content: "";     
  display: inline-block;     
  background-repeat: no-repeat;
  background-position: 1px 2px;     
}

/* Hide the thumbnail image for self posts to clean up the front page */

.thumbnail.self {
   display: none!important
}

/* Styling for our AMAers to make their posts stand out */
a.author[href$="/TuckmanPsych"]:before, a.author[href$="/dnowell"]:before{content:url(%%brain%%);
 width: 25px;
 height: 22px;
 display: inline-block;
}

/* Adding the star to a couple of the mod posts. We will have to come up with a standard for the beginning of post to trigger this - computerpsych */
a.title[href*="kick_start_sunday"]:before,a.title[href*="win_wednesday"]:before,a.title[href*="tip_thursday"]:before,a.title[href*="freely_ask"]:before{
background-image:  url(%%star%%);
  width: 20px;
  height: 20px;
  content: "";     
  display: inline-block;     
  background-repeat: no-repeat;
  background-position: 1px 2px;     
}

/* Temporary flair to put flair by my meta post */
a.title[href*="metaask"]:before{
background-image:  url(%%brain%%);
  width: 24px;
  height: 24px;
  content: "";     
  display: inline-block;     
  background-repeat: no-repeat;
  background-position: 2px 7px;     
}

/* Trying out what happens if we hide the "Submit a new link" button */
/* (people can still submit links by selecting the "link" tab on the "text" submission page. */
.side .submit-link {
    display: none;
}

/*******************************************************************************************
 * Wiki styling
 */

.wiki-page .wiki-page-content .md.wiki h1, .wiki-page .wiki-page-content .md.wiki h2, .wiki-page .wiki-page-content .md.wiki h3, .wiki-page .wiki-page-content .md.wiki h4, .wiki-page .wiki-page-content .md.wiki h5, .wiki-page .wiki-page-content .md.wiki h6 {
  color: #333333!important;
}

.wiki-page .wiki-page-content .md.wiki h2 {
  font-size: 1.5em!important;
}

.wiki-page .wiki-page-content .md.wiki h3 {
  font-size: 1.2em!important;
  font-style: italic!important;
}